.panel {
    position: fixed;
    padding: 5px;
    right: 10px;
    bottom: 10px;
    z-index: 9999;
    background: rgb(252, 244, 220);
    border-style: groove; 
    border-width: 4px; 
    border-radius: 5px; 
    border-color: rgb(211, 139, 117);
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}
.visible {
    visibility: visible;
    opacity: 1;
    transition: all 1s;
}

.btn{
    margin: 0 2px;
    padding: 5px 10px;
    background: transparent;
    border-color: rgb(213, 123, 147);
    border-width: 2px;
    border-radius: 3px;
    border-style: groove;
}